pipeline/Master_pipeline.json
{
	"name": "Master_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute_Onprem_Pipeline",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Filesystem_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"filename": {
							"value": "@pipeline().parameters.filename",
							"type": "Expression"
						},
						"mapping_EMPLOYEE": {
							"value": "@pipeline().parameters.mapping_EMPLOYEE",
							"type": "Expression"
						},
						"mapping_emptyfile": {
							"value": "@pipeline().parameters.mapping_emptyfile",
							"type": "Expression"
						},
						"mapping_title": {
							"value": "@pipeline().parameters.mapping_title",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteAPI",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Execute_Onprem_Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "GitAPI_data_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteIncremental",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipelineAzuresql",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "FailureEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteIncremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://prod-16.northcentralus.logic.azure.com:443/workflows/7195f341bd3b4b8aa233421889f79e09/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=UicVGeizJS2rAt0n43ZFt0Eu7oZBtuuhhV-_2Ax2d3M",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"run_id\" : \"@{pipeline().RunId}\",\n    \"status\" : \"@{activity('ExecuteIncremental').Status}\",\n    \"error\" : \"@{if(equals(activity('ExecuteIncremental').Status, 'Failed'),string(activity('ExecuteIncremental').error),'No error')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "array",
				"defaultValue": [
					{
						"filename": "EMPLOYEE.csv"
					},
					{
						"filename": "emptyfile.csv"
					},
					{
						"filename": "title.csv"
					}
				]
			},
			"mapping_EMPLOYEE": {
				"type": "object",
				"defaultValue": "{             \"type\": \"TabularTranslator\",             \"mappings\": [                 {                     \"source\": {                         \"name\": \"id\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"id\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"name\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"name\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"dept\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"dept\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 }             ],             \"typeConversion\": true,             \"typeConversionSettings\": {                 \"allowDataTruncation\": true,                 \"treatBooleanAsNumber\": false             }         }     },     \"inputs\": [         {             \"referenceName\": \"FS_ds_ansh\",             \"type\": \"DatasetReference\",             \"parameters\": {                 \"p_filename\": \"EMPLOYEE.csv\"             }         }"
			},
			"mapping_emptyfile": {
				"type": "object",
				"defaultValue": "{             \"type\": \"TabularTranslator\",             \"mappings\": [                 {                     \"source\": {                         \"name\": \"id\\t\\t\\t\\t\\t\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"id\\t\\t\\t\\t\\t\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"name\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"name\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"dept\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"dept\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"dept_id\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"dept_id\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"shipping_id\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"shipping_id\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 },                 {                     \"source\": {                         \"name\": \"location\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"location\",                         \"type\": \"String\",                         \"physicalType\": \"UTF8\"                     }                 }"
			},
			"mapping_title": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "EMP_ID",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "EMP_ID",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "EMPLOYEE",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "EMPLOYEE",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": "EMP_DEPT",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "EMP_DEPT",
								"type": "String",
								"physicalType": "UTF8"
							}
						},
						{
							"source": {
								"name": " JOB_TITLE",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": " JOB_TITLE",
								"type": "String",
								"physicalType": "UTF8"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"folder": {
			"name": "Ansh_CICD_end2end"
		},
		"annotations": []
	}
}