pipeline/pipelinecopy.json
{
	"name": "pipelinecopy",
	"properties": {
		"activities": [
			{
				"name": "Copy data_copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@variables('LastName')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ADLSdatasetsource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLSGen2datasetsink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastName",
					"value": {
						"value": "@concat('IA244-001_CTR_BT_Report_ENC_', convertTimeZone(utcNow(),'UTC','Eastern Standard Time','yyyyMMdd'),'.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LastName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-08T21:33:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}