DF-AZ-TEST1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DF-AZ-TEST1"
		},
		"AZDestinyGlobalDatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AZDestinyGlobalDatabase'"
		},
		"AzureDatabricks_LS_AT_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks_LS_AT'"
		},
		"AzureSqlDatabase2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase2'"
		},
		"DS_ASQLDB_PIPELINE_PARAMETER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_ASQLDB_PIPELINE_PARAMETER'"
		},
		"Db21_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Db21'"
		},
		"LS_ASQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_ASQL'"
		},
		"LS_SP_SQLSERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SP_SQLSERVER'"
		},
		"LS_SQLSERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLSERVER'"
		},
		"Oracle_LS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Oracle_LS'"
		},
		"Oracle_ls_V2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Oracle_ls_V2'"
		},
		"PostgreSql1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'PostgreSql1'"
		},
		"RestService_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'RestService'"
		},
		"ServiceNow_LS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ServiceNow_LS'"
		},
		"Sftp_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Sftp'"
		},
		"Snowflake_ls_privateKey": {
			"type": "secureString",
			"metadata": "Secure string for 'privateKey' of 'Snowflake_ls'"
		},
		"Snowflake_ls_privateKeyPassphrase": {
			"type": "secureString",
			"metadata": "Secure string for 'privateKeyPassphrase' of 'Snowflake_ls'"
		},
		"SqlServer2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer2'"
		},
		"SqlServer_VNET_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer_VNET'"
		},
		"SqlServer_onprem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer_onprem'"
		},
		"Teradata_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Teradata'"
		},
		"Teradata_user_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Teradata_user'"
		},
		"destinationimmuls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'destinationimmuls'"
		},
		"immutablecopyls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'immutablecopyls'"
		},
		"AZDestinyGlobalDatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "krishh123.database.windows.net"
		},
		"AZDestinyGlobalDatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "DestinyGlobal"
		},
		"AZDestinyGlobalDatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "krishh"
		},
		"Azdemoappentra_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://dempappentrakey.vault.azure.net/"
		},
		"AzureDataLakeStorageLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdemostorage21.dfs.core.windows.net/"
		},
		"AzureDatabricks_LS_AT_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0810-031931-uk5fa7qm"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://akvapitoken.vault.azure.net/"
		},
		"AzureKeyVaultsqlserver_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://sqlserver-cred-onprem.vault.azure.net/"
		},
		"AzurePostgreSql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "az-postgres-demo.postgres.database.azure.com"
		},
		"AzurePostgreSql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "testdemodatabase"
		},
		"AzureSqlDatabase2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "krishh123.database.windows.net"
		},
		"AzureSqlDatabase2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "krishhdb"
		},
		"AzureSqlDatabase2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "krishh"
		},
		"DS_ASQLDB_PIPELINE_PARAMETER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "KRISHHNAPC\\SQLEXPRESS"
		},
		"DS_ASQLDB_PIPELINE_PARAMETER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ADF_DB"
		},
		"DS_ASQLDB_PIPELINE_PARAMETER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://httpstat.us/200?sleep=60000000"
		},
		"LS_ADLS2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdemostorage21.dfs.core.windows.net/"
		},
		"LS_ASQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "krishh123.database.windows.net"
		},
		"LS_ASQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "krishhdb"
		},
		"LS_ASQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "krishh"
		},
		"LS_SP_SQLSERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "KRISHHNAPC\\SQLEXPRESS"
		},
		"LS_SP_SQLSERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorksDW2019"
		},
		"LS_SP_SQLSERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"LS_SQLSERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "KRISHHNAPC\\SQLEXPRESS"
		},
		"LS_SQLSERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ADF_DB"
		},
		"LS_SQLSERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"Oracle_ls_V2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST= KrishhNaPC)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)))"
		},
		"Oracle_ls_V2_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "C##krishh"
		},
		"PostgreSql1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"PostgreSql1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"PostgreSql1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "postgres"
		},
		"RestService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().Baseurlendpoint}"
		},
		"RestService_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "@{linkedService().clientid}"
		},
		"ServiceNow_LS_properties_typeProperties_endpoint": {
			"type": "string",
			"defaultValue": "https://dev318723.service-now.com/nav_to.do?uri=oauth_entity.do?sys_id=2f0b92ea93332210bd0eb4897bba102e%26sysparm_view=default"
		},
		"ServiceNow_LS_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "thatikondakrishna77@gmail.com"
		},
		"Sftp_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "az-postgres-demo.postgres.database.azure.com"
		},
		"Sftp_properties_typeProperties_hostKeyFingerprint": {
			"type": "string",
			"defaultValue": "flkfllessllfdfld"
		},
		"Sftp_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pg"
		},
		"Snowflake_ls_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "MY_DATABASE"
		},
		"SqlServer2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserver.privatelink.westus.cloudapp.azure.net"
		},
		"SqlServer2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"SqlServer2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "tknew"
		},
		"SqlServer_VNET_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "KRISHHNAPC\\SQLEXPRESS"
		},
		"SqlServer_VNET_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "[[ADF_DB]"
		},
		"SqlServer_VNET_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"SqlServer_onprem_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "KRISHHNAPC\\SQLEXPRESS"
		},
		"SqlServer_onprem_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorksDW2019"
		},
		"SqlServer_onprem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"Teradata_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "10.18.133.88"
		},
		"Teradata_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "dbc"
		},
		"Teradata_user_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "10.18.133.88"
		},
		"Teradata_user_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "dbc"
		},
		"ls_kv_datafactory_bi_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-devqa-datafactory-bi.vault.azure.net/"
		},
		"productbuilderCosmos_properties_typeProperties_accountEndpoint": {
			"type": "string",
			"defaultValue": "https://az-cosmos-new-database.documents.azure.com:443/"
		},
		"productbuilderCosmos_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().Database_name}"
		},
		"SSIS-IR_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "krishh123.database.windows.net"
		},
		"SSIS-IR_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "krishh"
		},
		"SSIS-IR_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		},
		"AzureBlobStorage705_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/az-learn/providers/Microsoft.Storage/storageAccounts/adlsdemostorage21"
		},
		"AzureBlobStorage705_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"AzureBlobStorageendpoint_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/az-learn/providers/Microsoft.Storage/storageAccounts/pracdemostorage"
		},
		"AzureBlobStorageendpoint_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		},
		"AzureBlobStorageendpoint_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"pracdemostorage.blob.core.windows.net"
			]
		},
		"AzureDataLakeStorage299_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/az-learn/providers/Microsoft.Storage/storageAccounts/pracdemostorage"
		},
		"AzureDataLakeStorage299_properties_groupId": {
			"type": "string",
			"defaultValue": "dfs"
		},
		"AzureDataLakeStorage299_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"pracdemostorage.dfs.core.windows.net"
			]
		},
		"AzureSqlDatabase591_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/RG-TEST/providers/Microsoft.Sql/servers/krishh123"
		},
		"AzureSqlDatabase591_properties_groupId": {
			"type": "string",
			"defaultValue": "sqlServer"
		},
		"CosmosDb_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/RG-PROD/providers/Microsoft.DocumentDB/databaseAccounts/krishh-cosmos-db"
		},
		"CosmosDb_properties_groupId": {
			"type": "string",
			"defaultValue": "Sql"
		},
		"CosmosDb_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"krishh-cosmos-db.documents.azure.com"
			]
		},
		"PrivateLinkService461_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/RG-PROD/providers/Microsoft.Network/privateLinkServices/myPrivateLinkService"
		},
		"PrivateLinkService461_properties_groupId": {
			"type": "string",
			"defaultValue": ""
		},
		"PrivateLinkService461_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sqlserver.privatelink.westus.cloudapp.azure.net"
			]
		},
		"blob_event_trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/az-learn/providers/Microsoft.Storage/storageAccounts/adlsdemostorage21"
		},
		"triggereventstorage_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/az-learn/providers/Microsoft.Storage/storageAccounts/adlsdemostorage21"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/C_TO_SQL_LAKE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "USE AdventureWorksDW2019\n\nSELECT QUOTENAME(table_schema) + '.' + QUOTENAME(table_name) AS Table_name,Table_catalog\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Table_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Table_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "table_catalog",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "table_catalog",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQLSERVER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQLDB_PIPELINE_PARAMETER",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "OnPremSQL_to_ADLS2"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQLSERVER')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQLDB_PIPELINE_PARAMETER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FOREACHpipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.outputfolder",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 2,
							"activities": [
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ADLS_Dataset_json2",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLS_Dataset_sink_dataflow",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Web",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": "Https://httpstat.us/200?sleep=60000"
									}
								},
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Copy data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "lookuppipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"outputfolder": {
						"type": "array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-05-08T09:03:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_sink_dataflow')]",
				"[concat(variables('factoryId'), '/pipelines/lookuppipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_SQL_TO_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "L_get_tables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_ASQLDB_PIPELINE_PARAMETER",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_Iteration_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "L_get_tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('L_get_tables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "C_SQL_to_LAKE",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "USE @{item().table_catalog} SELECT * FROM @{item().Table_name}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQLSERVER",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS2",
											"type": "DatasetReference",
											"parameters": {
												"table_catalog": {
													"value": "@{item().table_catalog}",
													"type": "Expression"
												},
												"table_name": {
													"value": "@{item().table_name}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "OnPremSQL_to_ADLS2"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ASQLDB_PIPELINE_PARAMETER')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLSERVER')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLSERVER_TO_ASQL_ST_PROC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[myprocecdure]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Table_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Table_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "table_catalog",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "table_catalog",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SP_SQLSERVER",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQLDB_PIPELINE_PARAMETER",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "OnPremSQL_to_ADLS2"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SP_SQLSERVER')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQLDB_PIPELINE_PARAMETER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/compresspipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data compress",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ADLS_Dataset_json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Dataset_sink_dataflow",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-05-07T19:46:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_sink_dataflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/compresspipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ADLS_Dataset_json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Dataset_json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-05-07T19:46:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_newbranch_parallel_pip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_newbranch_parallel",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {},
									"sink2": {},
									"sink3": {},
									"sink4": {},
									"sink5": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"runConcurrently": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow_newbranch_parallel')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_parallel')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_test",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"source2": {},
									"source3": {},
									"source4": {},
									"source5": {},
									"source6": {},
									"source7": {},
									"sink1": {},
									"sink2": {},
									"sink3": {},
									"sink4": {},
									"sink5": {},
									"sink6": {},
									"sink7": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"runConcurrently": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/executedataflow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowpostgressql",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcepostgres": {},
									"sinkadls": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "vnetintegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-08-08T22:13:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflowpostgressql')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/vnetintegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/immutablepipelinecopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sourceimmu",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "destinationimmu",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-28T22:19:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sourceimmu')]",
				"[concat(variables('factoryId'), '/datasets/destinationimmu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lookuppipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.1:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"requestTimeout": "0.00:10:00"
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"dataset": {
								"referenceName": "Xmldataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-27T15:59:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Xmldataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-postgressql-onprem')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": "select * from public.custom_time",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PostgreSql_Dataset1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_ADLS1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlV2Source",
								"query": "select * from public.employee",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PostgreSql_dataset2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet_ADLS2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PostgreSql_Dataset1')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_ADLS1')]",
				"[concat(variables('factoryId'), '/datasets/PostgreSql_dataset2')]",
				"[concat(variables('factoryId'), '/datasets/Parquet_ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[myprocecdure]"
						},
						"linkedServiceName": {
							"referenceName": "LS_SP_SQLSERVER",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SP_SQLSERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineOnpremtoAzuresql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CurrencyKey",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ProductID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "CurrencyAlternateKey",
											"type": "String",
											"physicalType": "nchar"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CurrencyName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServer_Onprem",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlDataset_Students",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServer_Onprem')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlDataset_Students')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinecopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ADLS_Dataset_json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSGen2datasetsink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "LastName",
							"value": {
								"value": "@concat('IA244-001_CTR_BT_Report_ENC_', convertTimeZone(utcNow(),'UTC','Eastern Standard Time','yyyyMMdd'),'.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"LastName": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-08-08T21:33:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2datasetsink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinecopyforeach')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "LastfileName",
							"value": {
								"value": "@concat('IA244-001_CTR_BT_Report_ENC_', convertTimeZone(utcNow(),'UTC','Eastern Standard Time','yyyyMMdd'),'.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.arraylist",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data_copy",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ADLS_Dataset_json2",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ADLSGen2datasetsink",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"arraylist": {
						"type": "array",
						"defaultValue": [
							1,
							2
						]
					}
				},
				"variables": {
					"LastfileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-05-28T13:42:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2datasetsink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinedataflowparallel')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowtestparallel",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"source2": {},
									"sink": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflowtestparallel')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinejson')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy datajson",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ADLS_Dataset_json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Jsonsink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-05-11T13:23:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]",
				"[concat(variables('factoryId'), '/datasets/Jsonsink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinepostgrestest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ADLS_Dataset_json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzurePostgreSqlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-08-08T21:33:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]",
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinesnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"staging": {},
							"integrationRuntime": {
								"referenceName": "vnetintegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-13T20:39:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/vnetintegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinestoragedataview')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ADLS_Dataset_json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSGen2datasetsink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-08-12T17:40:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2datasetsink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinewait')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/postgrespipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ADLS_Dataset_json2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzurePostgreSqlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-26T19:58:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]",
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/teradata_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "TeradataSource",
								"query": "select  to_char(EFF_DATE, 'YYYY-MM-DD'), EFF_TIME, CAST(CAST(((EFF_TIME ) (FORMAT '99:99:99')) AS CHAR(8)) AS TIME(0)) as old_eff_time\nFROM tktestdb.testtb150;",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Teradata_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSGen2datasetsink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Teradata_dataset')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2datasetsink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/teradata_pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "TeradataSource",
								"query": "select  to_char(EFF_DATE, 'YYYY-MM-DD'), EFF_TIME, CAST(CAST(((EFF_TIME ) (FORMAT '99:99:99')) AS CHAR(8)) AS TIME(0)) as old_eff_time\nFROM tktestdb.testtb150;",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Teradata_dataset_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSGen2datasetsink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Teradata_dataset_user')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2datasetsink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/webactvity_pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://dummy.restapiexample.com/api/v1/employees"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-01T15:59:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2datasetsink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "test43.txt",
						"folderPath": "sinkfolder",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Dataset_json2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "json_contract2.json",
						"folderPath": "sinkfolder",
						"fileSystem": "democontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Dataset_sink_dataflow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "file1.csv",
						"folderPath": "sinkfolder1",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDestinyGlobal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AZDestinyGlobalDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "FacExternalUserAssignment"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AZDestinyGlobalDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "a",
						"type": "text",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "public",
					"table": "employees"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzurePostgreSql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDataset_Product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDataset_Students')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "class",
						"type": "varchar"
					},
					{
						"name": "dept",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDbNoSqlContainerdataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "productbuilderCosmos",
					"type": "LinkedServiceReference",
					"parameters": {
						"Database_name": "customer_id"
					}
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "new_data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/productbuilderCosmos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_catalog": {
						"type": "string"
					},
					"table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(\n    dataset().table_catalog, '/',\n    dataset().table_name, '/',\n    formatDateTime(utcnow(),'yyyy'), '/',\n    formatDateTime(utcnow(),'MM'), '/',\n    formatDateTime(utcnow(),'dd'), '/',\n    formatDateTime(utcnow(),'HH')\n)\n",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('rl_sql001',dataset().table_catalog)",
							"type": "Expression"
						},
						"fileSystem": "lake"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQLDB_PIPELINE_PARAMETER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Table_name",
						"type": "nvarchar"
					},
					{
						"name": "table_catalog",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "pipeline_parameter3"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SP_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SP_SQLSERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SP_SQLSERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLSERVER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLSERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_source_dataset1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Breast_Cancer_dataset",
						"folderPath": "sample datasets ",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "diagnosis",
						"type": "String"
					},
					{
						"name": "radius_mean",
						"type": "String"
					},
					{
						"name": "texture_mean",
						"type": "String"
					},
					{
						"name": "perimeter_mean",
						"type": "String"
					},
					{
						"name": "area_mean",
						"type": "String"
					},
					{
						"name": "smoothness_mean",
						"type": "String"
					},
					{
						"name": "compactness_mean",
						"type": "String"
					},
					{
						"name": "concavity_mean",
						"type": "String"
					},
					{
						"name": "concave points_mean",
						"type": "String"
					},
					{
						"name": "symmetry_mean",
						"type": "String"
					},
					{
						"name": "fractal_dimension_mean",
						"type": "String"
					},
					{
						"name": "radius_se",
						"type": "String"
					},
					{
						"name": "texture_se",
						"type": "String"
					},
					{
						"name": "perimeter_se",
						"type": "String"
					},
					{
						"name": "area_se",
						"type": "String"
					},
					{
						"name": "smoothness_se",
						"type": "String"
					},
					{
						"name": "compactness_se",
						"type": "String"
					},
					{
						"name": "concavity_se",
						"type": "String"
					},
					{
						"name": "concave points_se",
						"type": "String"
					},
					{
						"name": "symmetry_se",
						"type": "String"
					},
					{
						"name": "fractal_dimension_se",
						"type": "String"
					},
					{
						"name": "radius_worst",
						"type": "String"
					},
					{
						"name": "texture_worst",
						"type": "String"
					},
					{
						"name": "perimeter_worst",
						"type": "String"
					},
					{
						"name": "area_worst",
						"type": "String"
					},
					{
						"name": "smoothness_worst",
						"type": "String"
					},
					{
						"name": "compactness_worst",
						"type": "String"
					},
					{
						"name": "concavity_worst",
						"type": "String"
					},
					{
						"name": "concave points_worst",
						"type": "String"
					},
					{
						"name": "symmetry_worst",
						"type": "String"
					},
					{
						"name": "fractal_dimension_worst",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_source_dataset2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Wine_quality_dataset",
						"folderPath": "sample datasets ",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "fixed acidity",
						"type": "String"
					},
					{
						"name": "volatile acidity",
						"type": "String"
					},
					{
						"name": "citric acid",
						"type": "String"
					},
					{
						"name": "residual sugar",
						"type": "String"
					},
					{
						"name": "chlorides",
						"type": "String"
					},
					{
						"name": "free sulfur dioxide",
						"type": "String"
					},
					{
						"name": "total sulfur dioxide",
						"type": "String"
					},
					{
						"name": "density",
						"type": "String"
					},
					{
						"name": "pH",
						"type": "String"
					},
					{
						"name": "sulphates",
						"type": "String"
					},
					{
						"name": "alcohol",
						"type": "String"
					},
					{
						"name": "quality",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_source_dataset3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "heart_disease",
						"folderPath": "sample datasets ",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "sex",
						"type": "String"
					},
					{
						"name": "cp",
						"type": "String"
					},
					{
						"name": "trestbps",
						"type": "String"
					},
					{
						"name": "chol",
						"type": "String"
					},
					{
						"name": "fbs",
						"type": "String"
					},
					{
						"name": "restecg",
						"type": "String"
					},
					{
						"name": "thalach",
						"type": "String"
					},
					{
						"name": "exang",
						"type": "String"
					},
					{
						"name": "oldpeak",
						"type": "String"
					},
					{
						"name": "slope",
						"type": "String"
					},
					{
						"name": "ca",
						"type": "String"
					},
					{
						"name": "thal",
						"type": "String"
					},
					{
						"name": "target",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_source_dataset4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "weatherHistory-(1).csv",
						"folderPath": "sample datasets ",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Formatted Date",
						"type": "String"
					},
					{
						"name": "Summary",
						"type": "String"
					},
					{
						"name": "Precip Type",
						"type": "String"
					},
					{
						"name": "Temperature (C)",
						"type": "String"
					},
					{
						"name": "Apparent Temperature (C)",
						"type": "String"
					},
					{
						"name": "Humidity",
						"type": "String"
					},
					{
						"name": "Wind Speed (km/h)",
						"type": "String"
					},
					{
						"name": "Wind Bearing (degrees)",
						"type": "String"
					},
					{
						"name": "Visibility (km)",
						"type": "String"
					},
					{
						"name": "Loud Cover",
						"type": "String"
					},
					{
						"name": "Pressure (millibars)",
						"type": "String"
					},
					{
						"name": "Daily Summary",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_source_dataset5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "twitter_training.csv",
						"folderPath": "sample datasets ",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_source_dataset6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "imdb_raw.csv",
						"folderPath": "sample datasets ",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "color",
						"type": "String"
					},
					{
						"name": "director_name",
						"type": "String"
					},
					{
						"name": "num_critic_for_reviews",
						"type": "String"
					},
					{
						"name": "duration",
						"type": "String"
					},
					{
						"name": "director_facebook_likes",
						"type": "String"
					},
					{
						"name": "actor_3_facebook_likes",
						"type": "String"
					},
					{
						"name": "actor_2_name",
						"type": "String"
					},
					{
						"name": "actor_1_facebook_likes",
						"type": "String"
					},
					{
						"name": "gross",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					},
					{
						"name": "actor_1_name",
						"type": "String"
					},
					{
						"name": "movie_title",
						"type": "String"
					},
					{
						"name": "num_voted_users",
						"type": "String"
					},
					{
						"name": "cast_total_facebook_likes",
						"type": "String"
					},
					{
						"name": "actor_3_name",
						"type": "String"
					},
					{
						"name": "facenumber_in_poster",
						"type": "String"
					},
					{
						"name": "plot_keywords",
						"type": "String"
					},
					{
						"name": "movie_imdb_link",
						"type": "String"
					},
					{
						"name": "num_user_for_reviews",
						"type": "String"
					},
					{
						"name": "language",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "content_rating",
						"type": "String"
					},
					{
						"name": "budget",
						"type": "String"
					},
					{
						"name": "title_year",
						"type": "String"
					},
					{
						"name": "actor_2_facebook_likes",
						"type": "String"
					},
					{
						"name": "imdb_score",
						"type": "String"
					},
					{
						"name": "aspect_ratio",
						"type": "String"
					},
					{
						"name": "movie_facebook_likes",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_source_dataset7')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "imdb_cleaned_20251005_143111.csv",
						"folderPath": "sample datasets ",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "movie_title",
						"type": "String"
					},
					{
						"name": "director_name",
						"type": "String"
					},
					{
						"name": "title_year",
						"type": "String"
					},
					{
						"name": "imdb_score",
						"type": "String"
					},
					{
						"name": "rating_category",
						"type": "String"
					},
					{
						"name": "budget",
						"type": "String"
					},
					{
						"name": "gross",
						"type": "String"
					},
					{
						"name": "profit",
						"type": "String"
					},
					{
						"name": "roi",
						"type": "String"
					},
					{
						"name": "budget_category",
						"type": "String"
					},
					{
						"name": "is_profitable",
						"type": "String"
					},
					{
						"name": "duration",
						"type": "String"
					},
					{
						"name": "content_rating",
						"type": "String"
					},
					{
						"name": "primary_genre",
						"type": "String"
					},
					{
						"name": "language",
						"type": "String"
					},
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "num_voted_users",
						"type": "String"
					},
					{
						"name": "num_critic_for_reviews",
						"type": "String"
					},
					{
						"name": "num_user_for_reviews",
						"type": "String"
					},
					{
						"name": "movie_facebook_likes",
						"type": "String"
					},
					{
						"name": "budget_outlier",
						"type": "String"
					},
					{
						"name": "gross_outlier",
						"type": "String"
					},
					{
						"name": "profit_outlier",
						"type": "String"
					},
					{
						"name": "roi_outlier",
						"type": "String"
					},
					{
						"name": "imdb_score_outlier",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_Sink_ADLS4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "file4.csv",
						"folderPath": "sinkfolder4",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_Sink_ADLS5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "file5.csv",
						"folderPath": "sinkfolder5",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_Sink_ADLS6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "file6.csv",
						"folderPath": "sinkfolder6",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_Sink_ADLS7')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "file7.csv",
						"folderPath": "sinkfolder7",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_adls_dataflow_sink3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "file3.csv",
						"folderPath": "sinkfolder3",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_sink_dataflow2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "file2.csv",
						"folderPath": "sinkfolder2",
						"fileSystem": "democontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Jsonsink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sample_dummy.json",
						"folderPath": "sinkfolder",
						"fileSystem": "democontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OracleTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_ADLS1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "file1.parquet",
						"folderPath": {
							"value": "@concat('/root/parquet/copy1/',utcNow('yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "democontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet_ADLS2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "file2.parquet",
						"folderPath": {
							"value": "@concat('/root/parquet/copy2/',utcNow('yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "democontainer"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSql_Dataset1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PostgreSql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PostgreSql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSql_dataset2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PostgreSql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "PostgreSqlV2Table",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PostgreSql1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflakedataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "ID",
						"type": "VARCHAR"
					},
					{
						"name": "RECORD_ID",
						"type": "VARCHAR"
					},
					{
						"name": "ELEMENT_ID",
						"type": "VARCHAR"
					},
					{
						"name": "TEXT",
						"type": "VARCHAR"
					},
					{
						"name": "EMBEDDINGS",
						"type": "ARRAY"
					},
					{
						"name": "TYPE",
						"type": "VARCHAR"
					},
					{
						"name": "SYSTEM",
						"type": "VARCHAR"
					},
					{
						"name": "LAYOUT_WIDTH",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LAYOUT_HEIGHT",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "POINTS",
						"type": "VARCHAR"
					},
					{
						"name": "URL",
						"type": "VARCHAR"
					},
					{
						"name": "VERSION",
						"type": "VARCHAR"
					},
					{
						"name": "DATE_CREATED",
						"type": "TIMESTAMP_TZ"
					},
					{
						"name": "DATE_PROCESSED",
						"type": "TIMESTAMP_TZ"
					},
					{
						"name": "DATE_MODIFIED",
						"type": "TIMESTAMP_TZ"
					},
					{
						"name": "SENT_FROM",
						"type": "ARRAY"
					},
					{
						"name": "SENT_TO",
						"type": "ARRAY"
					}
				],
				"typeProperties": {
					"schema": "MY_SCHEMA",
					"table": "ELEMENTS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_ASQLDB_PIPELINE_PARAMETER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "west_pa"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_ASQLDB_PIPELINE_PARAMETER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_Onprem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer_onprem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CurrencyKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CurrencyAlternateKey",
						"type": "nchar"
					},
					{
						"name": "CurrencyName",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DimCurrency"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Teradata_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Teradata",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "TeradataTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Teradata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Teradata_dataset_user')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Teradata_user",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "TeradataTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Teradata_user')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Xmldataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@string('http')",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/destinationimmu')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "destinationimmuls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "testimmutable",
						"container": "destincontainerimmutable"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/destinationimmuls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pb_contractsection_container')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "productbuilderCosmos",
					"type": "LinkedServiceReference",
					"parameters": {
						"Database_name": "pb_productBuilder_container"
					}
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"typeId": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"regions": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"region": {
										"type": "string"
									},
									"lastUpdatedBy": {
										"type": "object",
										"properties": {
											"email": {
												"type": "string"
											},
											"userContextId": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"environments": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"users": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"ieContactId": {
										"type": "integer"
									},
									"emailNotifications": {
										"type": "array",
										"items": {
											"type": "integer"
										}
									}
								}
							}
						},
						"lastUpdatedBy": {
							"type": "object",
							"properties": {
								"email": {
									"type": "string"
								},
								"userContextId": {
									"type": "null"
								}
							}
						},
						"isDeleted": {
							"type": "boolean"
						}
					}
				},
				"typeProperties": {
					"collectionName": "contractSection"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/productbuilderCosmos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pb_productBuilder_container')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "productbuilderCosmos",
					"type": "LinkedServiceReference",
					"parameters": {
						"Database_name": "pb_productBuilder_container"
					}
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "contractSection"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/productbuilderCosmos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourceimmu')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "immutablecopyls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "HREmployeesSink.csv",
						"container": "sourcecontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/immutablecopyls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AZDestinyGlobalDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AZDestinyGlobalDatabase_properties_typeProperties_server')]",
					"database": "[parameters('AZDestinyGlobalDatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AZDestinyGlobalDatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AZDestinyGlobalDatabase_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azdemoappentra')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('Azdemoappentra_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorageLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorageLS_properties_typeProperties_url')]",
					"credential": {
						"referenceName": "credential",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/credential')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2150332559871310.10.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/adf_git_test_rg/providers/Microsoft.Databricks/workspaces/test-db",
					"newClusterNodeType": "tewdfghhj",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "dssaaaaaaaaaaaaa",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_LS_AT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2005876146166458.18.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_LS_AT_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks_LS_AT_properties_typeProperties_existingClusterId')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_LS_UAMI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2150332559871310.10.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/adf_git_test_rg/providers/Microsoft.Databricks/workspaces/test-db",
					"credential": {
						"referenceName": "credential",
						"type": "CredentialReference"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "10.4.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/credentials/credential')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultsqlserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultsqlserver_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzurePostgreSql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('AzurePostgreSql_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('AzurePostgreSql_properties_typeProperties_database')]",
					"sslMode": 3,
					"authenticationType": "SystemAssignedManagedIdentity"
				},
				"connectVia": {
					"referenceName": "vnetintegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/vnetintegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase2_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase2_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase2_password')]"
					}
				},
				"connectVia": {
					"referenceName": "vnetintegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/vnetintegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQLDB_PIPELINE_PARAMETER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('DS_ASQLDB_PIPELINE_PARAMETER_properties_typeProperties_server')]",
					"database": "[parameters('DS_ASQLDB_PIPELINE_PARAMETER_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('DS_ASQLDB_PIPELINE_PARAMETER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_ASQLDB_PIPELINE_PARAMETER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SHIR-Onprem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-Onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Db21')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Db2",
				"typeProperties": {
					"connectionString": "[parameters('Db21_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SHIR-1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS2_properties_typeProperties_url')]",
					"credential": {
						"referenceName": "credential",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/credentials/credential')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_ASQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_ASQL_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_ASQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_ASQL_password')]"
					}
				},
				"connectVia": {
					"referenceName": "vnetintegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/vnetintegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SP_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SP_SQLSERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_SP_SQLSERVER_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SP_SQLSERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SP_SQLSERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SHIR-Onprem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-Onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLSERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLSERVER_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLSERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLSERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SHIR-Onprem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-Onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Oracle_LS_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SHIR-1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_ls_V2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('Oracle_ls_V2_properties_typeProperties_server')]",
					"authenticationType": "Basic",
					"username": "[parameters('Oracle_ls_V2_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Oracle_ls_V2_password')]"
					},
					"encryptionClient": "accepted",
					"encryptionTypesClient": "(AES128, AES192, AES256, 3DES112, 3DES168)",
					"cryptoChecksumClient": "accepted",
					"cryptoChecksumTypesClient": "(SHA1, SHA256, SHA384, SHA512)",
					"supportV1DataTypes": true
				},
				"connectVia": {
					"referenceName": "SHIR-1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostgreSql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSqlV2",
				"typeProperties": {
					"server": "[parameters('PostgreSql1_properties_typeProperties_server')]",
					"port": 5432,
					"database": "[parameters('PostgreSql1_properties_typeProperties_database')]",
					"username": "[parameters('PostgreSql1_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PostgreSql1_password')]"
					},
					"sslMode": 2,
					"authenticationType": "Basic"
				},
				"connectVia": {
					"referenceName": "SHIR-Onprem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-Onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Baseurlendpoint": {
						"type": "string"
					},
					"tokenurlendpoint": {
						"type": "string"
					},
					"clientid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "OAuth2ClientCredential",
					"clientId": "[parameters('RestService_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('RestService_clientSecret')]"
					},
					"tokenEndpoint": "@{linkedService().tokenurlendpoint}"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ServiceNow_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "ServiceNowV2",
				"typeProperties": {
					"endpoint": "[parameters('ServiceNow_LS_properties_typeProperties_endpoint')]",
					"authenticationType": "Basic",
					"username": "[parameters('ServiceNow_LS_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ServiceNow_LS_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sftp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('Sftp_properties_typeProperties_host')]",
					"port": "1532",
					"skipHostKeyValidation": false,
					"hostKeyFingerprint": "[parameters('Sftp_properties_typeProperties_hostKeyFingerprint')]",
					"authenticationType": "Basic",
					"userName": "[parameters('Sftp_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Sftp_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "KeyPair",
					"accountIdentifier": "sjejrok-fm56566",
					"user": "Krishh1996",
					"database": "[parameters('Snowflake_ls_properties_typeProperties_database')]",
					"warehouse": "MY_WAREHOUSE",
					"privateKey": {
						"type": "SecureString",
						"value": "[parameters('Snowflake_ls_privateKey')]"
					},
					"privateKeyPassphrase": {
						"type": "SecureString",
						"value": "[parameters('Snowflake_ls_privateKeyPassphrase')]"
					}
				},
				"connectVia": {
					"referenceName": "vnetintegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/vnetintegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer2_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer2_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer2_password')]"
					}
				},
				"connectVia": {
					"referenceName": "vnetintegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/vnetintegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_VNET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer_VNET_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer_VNET_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer_VNET_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer_VNET_password')]"
					}
				},
				"connectVia": {
					"referenceName": "vnetintegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/vnetintegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_onprem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer_onprem_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer_onprem_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer_onprem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer_onprem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SHIR-Onprem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-Onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Teradata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Teradata",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('Teradata_properties_typeProperties_server')]",
					"authenticationType": "Basic",
					"username": "[parameters('Teradata_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Teradata_password')]"
					},
					"sslMode": "Prefer"
				},
				"connectVia": {
					"referenceName": "SHIR-Onprem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-Onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Teradata_user')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Teradata",
				"typeProperties": {
					"server": "[parameters('Teradata_user_properties_typeProperties_server')]",
					"authenticationType": "Basic",
					"username": "[parameters('Teradata_user_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Teradata_user_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SHIR-Onprem",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SHIR-Onprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/destinationimmuls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('destinationimmuls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/immutablecopyls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('immutablecopyls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_kv_datafactory_bi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_kv_datafactory_bi_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/productbuilderCosmos')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Database_name": {
						"type": "string",
						"defaultValue": "dataflow_bordereau"
					}
				},
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"accountEndpoint": "[parameters('productbuilderCosmos_properties_typeProperties_accountEndpoint')]",
					"database": "[parameters('productbuilderCosmos_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHIR-1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHIR-Onprem')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHIR-sql-vm')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SSIS-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"nodeSize": "Standard_D8_v3",
						"numberOfNodes": 2,
						"maxParallelExecutionsPerNode": 4
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('SSIS-IR_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('SSIS-IR_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('SSIS-IR_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "S1"
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60,
							"numberOfPipelineNodes": 1,
							"numberOfExternalNodes": 1
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vnetintegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60,
							"numberOfPipelineNodes": 1,
							"numberOfExternalNodes": 1
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TransformContractSectionViewBordereau_blob')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureDestinyGlobal",
								"type": "DatasetReference"
							},
							"name": "AzureDestinyGlobal"
						},
						{
							"dataset": {
								"referenceName": "pb_productBuilder_container",
								"type": "DatasetReference"
							},
							"name": "productBuilderContractSections"
						},
						{
							"dataset": {
								"referenceName": "pb_contractsection_container",
								"type": "DatasetReference"
							},
							"name": "ContractSectionViewBordereau"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Jsonsink",
								"type": "DatasetReference"
							},
							"name": "UpdateCosmosDB"
						},
						{
							"dataset": {
								"referenceName": "pb_contractsection_container",
								"type": "DatasetReference"
							},
							"name": "DeleteItemsInCosmos"
						}
					],
					"transformations": [
						{
							"name": "LookupContractSection"
						},
						{
							"name": "LookupId"
						},
						{
							"name": "DerivedColumns"
						},
						{
							"name": "AggregateColumns"
						},
						{
							"name": "SelectAttributes"
						},
						{
							"name": "InsertOrUpdate"
						},
						{
							"name": "UnusedData"
						},
						{
							"name": "SelectItemKeys"
						},
						{
							"name": "SetToDeleteUnusedData"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ContractSectionID as integer,",
						"          LastUpdatedBy as string,",
						"          IEContactID as integer,",
						"          CanViewBordereauFlag as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT [eua].[ContractSectionID] ,[eua].[LastUpdatedBy] ,[eua].[IEContactID] ,[eub].[CanViewBordereauFlag] FROM [DestinyGlobal].[dbo].[FacExternalUserAssignment] AS [eua] INNER JOIN [DestinyGlobal].[dbo].[FacExternalUserBordereau] AS [eub] ON [eua].[FacExternalUserAssignmentID] = [eub].[FacExternalUserAssignmentID]',",
						"     format: 'query') ~> AzureDestinyGlobal",
						"source(output(",
						"          typeId as string,",
						"          cosmosContractSectionId as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: 'SELECT DISTINCT\\r\\n    f.typeId AS typeId,                     \\r\\n    f.contractSectionId AS cosmosContractSectionId\\r\\nFROM behaviors AS f\\r\\nWHERE f.type = \"contractSection\"\\r\\nAND f.isDeleted = false',",
						"     format: 'documentQuery',",
						"     systemColumns: false) ~> productBuilderContractSections",
						"source(output(",
						"          typeId as string,",
						"          type as string,",
						"          regions as (region as string, lastUpdatedBy as (email as string, userContextId as string))[],",
						"          environments as string[],",
						"          users as (ieContactId as integer, emailNotifications as integer[])[],",
						"          lastUpdatedBy as (email as string, userContextId as string),",
						"          isDeleted as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'document',",
						"     systemColumns: false) ~> ContractSectionViewBordereau",
						"AzureDestinyGlobal, productBuilderContractSections lookup(ContractSectionID == cosmosContractSectionId,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupContractSection",
						"LookupContractSection, ContractSectionViewBordereau lookup(productBuilderContractSections@typeId == ContractSectionViewBordereau@typeId,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> LookupId",
						"LookupId derive(typeId = \"bordereau\",",
						"          CanViewBordereauFlag = @(ieContactId=IEContactID,",
						"          canViewBordereau=CanViewBordereauFlag)) ~> DerivedColumns",
						"DerivedColumns aggregate(groupBy(typeId),",
						"     users = collect(CanViewBordereauFlag)) ~> AggregateColumns",
						"AggregateColumns select(skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> SelectAttributes",
						"SelectAttributes alterRow(upsertIf(!isNull(typeId)),",
						"     insertIf(isNull(users))) ~> InsertOrUpdate",
						"ContractSectionViewBordereau, productBuilderContractSections exists(ContractSectionViewBordereau@typeId == productBuilderContractSections@typeId,",
						"     negate:true,",
						"     broadcast: 'auto')~> UnusedData",
						"UnusedData select(mapColumn(",
						"          typeId",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> SelectItemKeys",
						"SelectItemKeys alterRow(deleteIf(true())) ~> SetToDeleteUnusedData",
						"InsertOrUpdate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     saveOrder: 1,",
						"     mapColumn(",
						"          typeId,",
						"          users",
						"     ),",
						"     format: 'document') ~> UpdateCosmosDB",
						"SetToDeleteUnusedData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          typeId as string,",
						"          type as string,",
						"          regions as (region as string, lastUpdatedBy as (email as string, userContextId as string))[],",
						"          environments as string[],",
						"          users as (ieContactId as integer, emailNotifications as integer[])[],",
						"          lastUpdatedBy as (email as string, userContextId as string),",
						"          isDeleted as boolean",
						"     ),",
						"     deletable:true,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'document',",
						"     partitionKey: ['/typeId'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DeleteItemsInCosmos"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureDestinyGlobal')]",
				"[concat(variables('factoryId'), '/datasets/pb_productBuilder_container')]",
				"[concat(variables('factoryId'), '/datasets/pb_contractsection_container')]",
				"[concat(variables('factoryId'), '/datasets/Jsonsink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_newbranch_parallel')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Dataflow_source_dataset1",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ADLS_Dataset_sink_dataflow",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Dataset_Sink_ADLS5",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"dataset": {
								"referenceName": "Dataset_Sink_ADLS4",
								"type": "DatasetReference"
							},
							"name": "sink3"
						},
						{
							"dataset": {
								"referenceName": "Dataset_adls_dataflow_sink3",
								"type": "DatasetReference"
							},
							"name": "sink4"
						},
						{
							"dataset": {
								"referenceName": "Dataset_sink_dataflow2",
								"type": "DatasetReference"
							},
							"name": "sink5"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          diagnosis as string,",
						"          radius_mean as string,",
						"          texture_mean as string,",
						"          perimeter_mean as string,",
						"          area_mean as string,",
						"          smoothness_mean as string,",
						"          compactness_mean as string,",
						"          concavity_mean as string,",
						"          {concave points_mean} as string,",
						"          symmetry_mean as string,",
						"          fractal_dimension_mean as string,",
						"          radius_se as string,",
						"          texture_se as string,",
						"          perimeter_se as string,",
						"          area_se as string,",
						"          smoothness_se as string,",
						"          compactness_se as string,",
						"          concavity_se as string,",
						"          {concave points_se} as string,",
						"          symmetry_se as string,",
						"          fractal_dimension_se as string,",
						"          radius_worst as string,",
						"          texture_worst as string,",
						"          perimeter_worst as string,",
						"          area_worst as string,",
						"          smoothness_worst as string,",
						"          compactness_worst as string,",
						"          concavity_worst as string,",
						"          {concave points_worst} as string,",
						"          symmetry_worst as string,",
						"          fractal_dimension_worst as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink2",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink3",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink4",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink5"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Dataflow_source_dataset1')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_sink_dataflow')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_Sink_ADLS5')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_Sink_ADLS4')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_adls_dataflow_sink3')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_sink_dataflow2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_test')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Dataflow_source_dataset1",
								"type": "DatasetReference"
							},
							"name": "source"
						},
						{
							"dataset": {
								"referenceName": "Dataflow_source_dataset2",
								"type": "DatasetReference"
							},
							"name": "source2"
						},
						{
							"dataset": {
								"referenceName": "Dataflow_source_dataset3",
								"type": "DatasetReference"
							},
							"name": "source3"
						},
						{
							"dataset": {
								"referenceName": "Dataflow_source_dataset4",
								"type": "DatasetReference"
							},
							"name": "source4"
						},
						{
							"dataset": {
								"referenceName": "Dataflow_source_dataset5",
								"type": "DatasetReference"
							},
							"name": "source5"
						},
						{
							"dataset": {
								"referenceName": "Dataflow_source_dataset6",
								"type": "DatasetReference"
							},
							"name": "source6"
						},
						{
							"dataset": {
								"referenceName": "Dataflow_source_dataset7",
								"type": "DatasetReference"
							},
							"name": "source7"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ADLS_Dataset_sink_dataflow",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "Dataset_sink_dataflow2",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"dataset": {
								"referenceName": "Dataset_adls_dataflow_sink3",
								"type": "DatasetReference"
							},
							"name": "sink3"
						},
						{
							"dataset": {
								"referenceName": "Dataset_Sink_ADLS4",
								"type": "DatasetReference"
							},
							"name": "sink4"
						},
						{
							"dataset": {
								"referenceName": "Dataset_Sink_ADLS5",
								"type": "DatasetReference"
							},
							"name": "sink5"
						},
						{
							"dataset": {
								"referenceName": "Dataset_Sink_ADLS6",
								"type": "DatasetReference"
							},
							"name": "sink6"
						},
						{
							"dataset": {
								"referenceName": "Dataset_Sink_ADLS7",
								"type": "DatasetReference"
							},
							"name": "sink7"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          diagnosis as string,",
						"          radius_mean as string,",
						"          texture_mean as string,",
						"          perimeter_mean as string,",
						"          area_mean as string,",
						"          smoothness_mean as string,",
						"          compactness_mean as string,",
						"          concavity_mean as string,",
						"          {concave points_mean} as string,",
						"          symmetry_mean as string,",
						"          fractal_dimension_mean as string,",
						"          radius_se as string,",
						"          texture_se as string,",
						"          perimeter_se as string,",
						"          area_se as string,",
						"          smoothness_se as string,",
						"          compactness_se as string,",
						"          concavity_se as string,",
						"          {concave points_se} as string,",
						"          symmetry_se as string,",
						"          fractal_dimension_se as string,",
						"          radius_worst as string,",
						"          texture_worst as string,",
						"          perimeter_worst as string,",
						"          area_worst as string,",
						"          smoothness_worst as string,",
						"          compactness_worst as string,",
						"          concavity_worst as string,",
						"          {concave points_worst} as string,",
						"          symmetry_worst as string,",
						"          fractal_dimension_worst as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source",
						"source(output(",
						"          type as string,",
						"          {fixed acidity} as string,",
						"          {volatile acidity} as string,",
						"          {citric acid} as string,",
						"          {residual sugar} as string,",
						"          chlorides as string,",
						"          {free sulfur dioxide} as string,",
						"          {total sulfur dioxide} as string,",
						"          density as string,",
						"          pH as string,",
						"          sulphates as string,",
						"          alcohol as string,",
						"          quality as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source2",
						"source(output(",
						"          age as string,",
						"          sex as string,",
						"          cp as string,",
						"          trestbps as string,",
						"          chol as string,",
						"          fbs as string,",
						"          restecg as string,",
						"          thalach as string,",
						"          exang as string,",
						"          oldpeak as string,",
						"          slope as string,",
						"          ca as string,",
						"          thal as string,",
						"          target as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source3",
						"source(output(",
						"          {Formatted Date} as string,",
						"          Summary as string,",
						"          {Precip Type} as string,",
						"          {Temperature (C)} as string,",
						"          {Apparent Temperature (C)} as string,",
						"          Humidity as string,",
						"          {Wind Speed (km/h)} as string,",
						"          {Wind Bearing (degrees)} as string,",
						"          {Visibility (km)} as string,",
						"          {Loud Cover} as string,",
						"          {Pressure (millibars)} as string,",
						"          {Daily Summary} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source4",
						"source(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('hash', 1)) ~> source5",
						"source(output(",
						"          color as string,",
						"          director_name as string,",
						"          num_critic_for_reviews as string,",
						"          duration as string,",
						"          director_facebook_likes as string,",
						"          actor_3_facebook_likes as string,",
						"          actor_2_name as string,",
						"          actor_1_facebook_likes as string,",
						"          gross as string,",
						"          genres as string,",
						"          actor_1_name as string,",
						"          movie_title as string,",
						"          num_voted_users as string,",
						"          cast_total_facebook_likes as string,",
						"          actor_3_name as string,",
						"          facenumber_in_poster as string,",
						"          plot_keywords as string,",
						"          movie_imdb_link as string,",
						"          num_user_for_reviews as string,",
						"          language as string,",
						"          country as string,",
						"          content_rating as string,",
						"          budget as string,",
						"          title_year as string,",
						"          actor_2_facebook_likes as string,",
						"          imdb_score as string,",
						"          aspect_ratio as string,",
						"          movie_facebook_likes as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source6",
						"source(output(",
						"          movie_title as string,",
						"          director_name as string,",
						"          title_year as string,",
						"          imdb_score as string,",
						"          rating_category as string,",
						"          budget as string,",
						"          gross as string,",
						"          profit as string,",
						"          roi as string,",
						"          budget_category as string,",
						"          is_profitable as string,",
						"          duration as string,",
						"          content_rating as string,",
						"          primary_genre as string,",
						"          language as string,",
						"          country as string,",
						"          num_voted_users as string,",
						"          num_critic_for_reviews as string,",
						"          num_user_for_reviews as string,",
						"          movie_facebook_likes as string,",
						"          budget_outlier as string,",
						"          gross_outlier as string,",
						"          profit_outlier as string,",
						"          roi_outlier as string,",
						"          imdb_score_outlier as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source7",
						"source sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"source2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink2",
						"source3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink3",
						"source4 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink4",
						"source5 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink5",
						"source6 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink6",
						"source7 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink7"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Dataflow_source_dataset1')]",
				"[concat(variables('factoryId'), '/datasets/Dataflow_source_dataset2')]",
				"[concat(variables('factoryId'), '/datasets/Dataflow_source_dataset3')]",
				"[concat(variables('factoryId'), '/datasets/Dataflow_source_dataset4')]",
				"[concat(variables('factoryId'), '/datasets/Dataflow_source_dataset5')]",
				"[concat(variables('factoryId'), '/datasets/Dataflow_source_dataset6')]",
				"[concat(variables('factoryId'), '/datasets/Dataflow_source_dataset7')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_sink_dataflow')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_sink_dataflow2')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_adls_dataflow_sink3')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_Sink_ADLS4')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_Sink_ADLS5')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_Sink_ADLS6')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_Sink_ADLS7')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowpostgressql')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzurePostgreSqlTable",
								"type": "DatasetReference"
							},
							"name": "sourcepostgres"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ADLSGen2datasetsink",
								"type": "DatasetReference"
							},
							"name": "sinkadls"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id as integer,",
						"          a as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourcepostgres",
						"sourcepostgres sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkadls"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzurePostgreSqlTable')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2datasetsink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowtestparallel')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlDataset_Students",
								"type": "DatasetReference"
							},
							"name": "source"
						},
						{
							"dataset": {
								"referenceName": "AzureSqlDataset_Product",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ADLSGen2datasetsink",
								"type": "DatasetReference"
							},
							"name": "sink"
						},
						{
							"dataset": {
								"referenceName": "ADLS_Dataset_json2",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as integer,",
						"          name as string,",
						"          class as string,",
						"          dept as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'Select * from Students',",
						"     format: 'query') ~> source",
						"source(output(",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          Category as string,",
						"          Price as decimal(10,2),",
						"          Stock as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'Select * from Products',",
						"     format: 'query') ~> source2",
						"source derive(tools = class + '_' + dept) ~> derivedColumn",
						"source2 derive(Qunatity = iif(greaterOrEqual(Price,20), 2, 4)) ~> derivedColumn2",
						"derivedColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlDataset_Students')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlDataset_Product')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2datasetsink')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Dataset_json2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/credential')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/98163876-b4d3-4128-ad45-c4c6a103c74c/resourceGroups/MI-RG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/MI-SCUS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureBlobStorage705')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureBlobStorage705_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureBlobStorage705_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureBlobStorageendpoint')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureBlobStorageendpoint_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureBlobStorageendpoint_properties_groupId')]",
				"fqdns": "[parameters('AzureBlobStorageendpoint_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureDataLakeStorage299')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureDataLakeStorage299_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureDataLakeStorage299_properties_groupId')]",
				"fqdns": "[parameters('AzureDataLakeStorage299_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/AzureSqlDatabase591')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('AzureSqlDatabase591_properties_privateLinkResourceId')]",
				"groupId": "[parameters('AzureSqlDatabase591_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/CosmosDb')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('CosmosDb_properties_privateLinkResourceId')]",
				"groupId": "[parameters('CosmosDb_properties_groupId')]",
				"fqdns": "[parameters('CosmosDb_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/PrivateLinkService461')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('PrivateLinkService461_properties_privateLinkResourceId')]",
				"groupId": "[parameters('PrivateLinkService461_properties_groupId')]",
				"fqdns": "[parameters('PrivateLinkService461_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_wait')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 123
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Blob_event_trigger"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blob_event_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline_wait",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/product-price-maxbuyquantity/blobs/blobs/MaxOrderQuantity_CSV",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('blob_event_trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_wait')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggereventstorage')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipelinestoragedataview",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/democontainer/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('triggereventstorage_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipelinestoragedataview')]"
			]
		}
	]
}